<div class="container-fluid">

  <!--adding extra line of code to check how it works-->

  <div class="row headerbar">
    <div class='col-6 point'>
      <img src="../assets/Images/DigiHealth_logo_02.png" class="img">
    </div>
    <div class="col-6 ">
      <div class="row pad">
        <div class="col-3 point" routerLink='home'>Home</div>
        <div class="col-3 point" >Services</div>
        <div class="col-3 point">About</div>
        <div class="col-3 point" routerLink='login'>Login</div>
      </div>
    </div>

  </div>

  <!--Code end here-->



  <router-outlet></router-outlet>
</div>